streamlit
deep-translator==1.5.5
matplotlib
write
torch==1.10.0
torchaudio==0.10.0
torchvision==0.11.1
bitsandbytes==1.0.0
datasets==1.14.0
accelerate==0.5.0
transformers @ git+https://github.com/huggingface/transformers
